html, body {
    height: 100%;
    margin: 0;
}

header {
	background-color: black;
}

/* navbar head */
.navbar {
    background-color: black;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 13px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdownFreePress, .dropdownCountryRegion, .dropdownAboutUs {
    float: right;
		font-size: 9.5px;
}

.dropdownFreePress .dropbtnFreePress, .dropdownCountryRegion .dropbtnCountryRegion, .dropdownAboutUs .dropbtnAboutUs {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
		font-size: 14px;
}



.navbar a:hover, .dropdownFreePress:hover .dropbtnFreePress {
    background-color: red;
}

.navbar a:hover, .dropdownCountryRegion:hover .dropbtnCountryRegion {
	background-color: blue;
}

.navbar a:hover, .dropdownAboutUs:hover .dropbtnAboutUs {
	background-color: green;
}

.navbar a:hover, .dropdownHome:hover .droptnHome {
	background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdownFreePress:hover .dropdown-content, .dropdownCountryRegion:hover .dropdown-content, .dropdownAboutUs:hover .dropdown-content {
    display: block;
}
/* navbar tail */

h1, h2, p {
	text-align: center;
}

/* img head */
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#spotlightstory {
    max-width: 100px;
    height: 190px;
	border-bottom: 3px solid;
		border-color: white;
}

#spotlightstory a:hover a:active {

}

#africa {
	max-width: 100px;
	height: 190px;
	border-bottom: 3px solid;
	border-color: white;
}

#turkey {
	max-width: 100px;
	height: 190px;
	border-bottom: 3px solid;
	border-color: white;
}

#ourpartners {
	max-width: 150px;
	height: 100px;
}

.photo_aside {
  width: 50%;
  float: center;
	margin-left: 10px;
	margin-right: 10px;
	align: right;
}

button {
	border-top: blue
	text: large;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
	margin-bottom: 30px;
	border-bottom: 3px solid;
	border-color: white;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: right;
}

p {
	color: black;
    font-family: Helvetica, Arial, sans-serif;
		text-align: left;
		padding-left: 13px;
		padding-right: 13px;
}
#p-opening {
	color: black;
    font-family: Helvetica, Arial, sans-serif;
		text-align: left;
		font-size: 20px;
		padding-left: 13px;
		padding-top: 13px;
	}


	}
h1 {
    font-family: Georgia, "Times New Roman", serif;
		font-style: normal;
		text-align: center;
		font-stretch: semi-expanded;
		color: black;
		letter-spacing: 1px;
		text-transform: capitalize;
		font-size: 30px;
	}
h2 {
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	text-align: center;
	color: black;
	font-stretch: semi-expanded;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 15px;
}

h3 {
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	text-align: center;
	color: black;
	font-stretch: semi-expanded;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 15px;
	text-decoration: none;
}

h4 {
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	text-align: center;
	color: black;
	font-stretch: semi-expanded;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 15px;
}

h5 {
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	text-align: center;
	color: black;
	font-stretch: semi-expanded;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 15px;

}

h6{
  color: grey;
	font-size: 15px;
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	text-align: left;
	font-stretch: semi-expanded;
	letter-spacing: 1px;
  margin-left:;
}

title {
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	text-align: center;
	font-stretch: semi-expanded;
	color: black;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 100px;


}

body {
	font-family: 'Open Sans', sans-serif, serif;
	font-style: normal;
	text-align: center;
	color: black;
	font-stretch: semi-expanded;
	letter-spacing: 1px;
	line-height: 1.5;
	text-decoration: none;
	margin-left: 16px;
	margin-right: 16px;
}
  dateline {
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    margin-right: 100px;

}
h14 {
  font-family:'Fjalla One', sans-serif, serif;
  		font-style: normal;
  		text-align: center;
  		font-stretch: semi-expanded;
  		color: black;
  		letter-spacing: 1px;
  		text-transform: capitalize;
  		font-size: 30px;
  }

h13 {
  font-family: 'Fjalla One', sans-serif, serif;
  font-style: normal;
  text-align: left;
  font-stretch: semi-expanded;
  color: black;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 30px
}

.article1 {

margin-left: 40px;
margin-right: 40px;
padding-right: 20px;
padding-left: 20px;
}


#hp-turkey-body {
	color: black;
}




li {
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	text-align: left;
	color: black;
	font-stretch: semi-expanded;
	letter-spacing: 1px;
	font-size: 15px;
}

p {
	color: black;
	font-size: 15px;
	font-family: Georgia, "Times New Roman", serif;
	font-style: normal;
	text-align: left;
	font-stretch: semi-expanded;
	letter-spacing: 1px;
}
p2 {
  font-family:'Fjalla One', sans-serif, serif;
      font-style: light;
      text-align: center;
      font-stretch: semi-expanded;
      color: black;
      letter-spacing: 1px;
      font-size: 20px;
}
  h10 {
        font-family:'Fjalla One', sans-serif, serif;
            font-style: light;
            text-align: center;
            font-stretch: semi-expanded;
            color: black;
            letter-spacing: 1px;
            font-size: 20px;

}


p a:visited {
	text-decoration: underline;
	color: black;
}

p a:hover {
	text-decoration: underline;
	color: black;
}
@media screen and (min-width: 700px)

}


@media screen and (min-width: 450px) {

    .navbar {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }


}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    .navbar {
      margin: 5px;
    }



}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }
  .menu-trigger {
  	order: 1;
  	font-size: 1.75em;
  	width: 1em;
  }


  .psomething {
    font-family:'Fjalla One', sans-serif, serif;
        font-style: normal;
        text-align: center;
        font-stretch: semi-expanded;
        color: black;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-size: 12px;
}


/* li {
	margin: 0;
	padding: 0;
border-bottom: 3px white;
border-top: 4px white;
border-right: 4px white;
border-left: 4px white;
border-style: double;
border-color: white;
text-decoration: none;
background-color:white;
} */

/* #navbar{
    width: 95%;
    margin: 0 auto;
		text-align: center;
		padding: 0;
	  list-style-type: none;
	  border-bottom: 1px solid black;
		display: block;
		flow: left;
} */

#navbar a:link, #navbar a:visited {
	  display: block;
    color: black;
    background-color: white;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 200px) {

    .navbar {
        flex-flow: row;
        justify-content: right;
    }
}

.hp-spotlightstory img {
    height: 500px;
    width: 700px;
}

.hp-africa img {
    height: 300px;
    width: 400px;
}

.hp-turkey img {
    height: 300px;
    width: 400px;
}
/* img tail */

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
}

/* grid head */
.grid-container {
    display: inline-grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.gridpodcast{
  display: grid;
  grid-column-gap: ;
  grid-template-columns: 3fr 1fr;
  grid-template-rows:3fr;
}

ul{
  width: 85%;
  margin-left: 45px;
}


.podcastarticle{
  width: 85%;
  margin: auto;
}

.relatedarticles{
grid-column:2;
grid-row:1;
}

.relatedbox{
  border:1px solid black;
  grid-column: 2;
  grid-row:2;
}

.podcasttext{
  grid-column-start: 1;
  grid-row-start:1
}

.podcasttext iframe{
  width: 85%;
  height: auto;
}

.podcasttext img{
  width:85%;
  height: auto;
}

.article-grid h1{
  grid-column-start:1;
}

.article-grid img{
  grid-column-start:1;
}

.hp-spotlightstory {
    grid-column: 1/3;
    grid-row: 1/2;
}

.hp-africa {
    grid-column: 1;
    grid-row: 2;
}

.hp-turkey {
    grid-column: 2;
    grid-row: 2;
}

.hp-video {
    grid-column: 3;
    grid-row: 1/2;
}

.hp-podcast{
  grid-column: 3;
  grid-row: 2/3;
}
/* grid tail */

/* footer head */
.footer {
    margin-bottom: 20px;
    grid-column: 3;
    grid-row: auto;
}
/* footer tail */
.pc-aboutuscontent {
  grid-column: 1;
  grid-row: 1/2;
}
